@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.box-custom {
    background-color: #DEF0ED;
}

.a-custom.login1 {
    text-decoration: none;
    color: #5D917D;
    font-family: 'Philosopher';
    font-size: 18px;
}

.index-text {
    color: #6B7281;
    font-family: 'Philosopher';
    font-size: 16px;
}

.index-text span {
    color: #5D917D;
    font-family: 'Philosopher';
    font-size: 16px;
    font-weight: bold;
}

.div-access .butt1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-access2 .butt1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.butt1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butt2 {
    font-family: 'Oxygen';
    font-size: 14px;
    color: #6B7281;
    padding: auto;
    margin: auto;
}

.forgot-hiperv:hover {
    color: #497061;
}

.access-custom .butt1 {
    list-style-type: none;
}

div .butt1 li a {
    font-family: 'Oxygen';
    color: #5D917D;
    font-size: 14px;
    font-weight: bold;
}

.form2 ul {
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
}

.subtit {
    color: #5D917D;
    font-family: 'Philosopher';
    font-size: 16px;
    font-weight: bold;
}

.access-custom .button1 {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 1px 1px #6B7281;
    width: 320px;
    height: 32px;
    font-family: 'Philosopher';
    font-size: 14px;
    color: #6B7281;
}

.access-custom .div-access2 .button2 {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 1px 1px #6B7281;
    width: 100%;
    height: 32px;
    font-family: 'Philosopher';
    font-size: 14px;
    color: #6B7281;
}

.access-custom .div-access3 {
    font-family: 'Oxygen';
    font-size: 14px;
    color: #6B7281;
}

.div-access3 {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.form-check .check-custom {
    text-align: justify;
}

.button6 {
    background-color: #5D917D !important;
    border: none;
    color: #FFFFFF;
    font-family: 'Philosopher';
    font-size: 14px;
}

.button6:hover {
    background-color: #497061 !important;
    color: #FFFFFF;
    font-family: 'Philosopher';
    font-size: 14px;
}

.button6a {
    list-style-type: none;
}
